*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #01153a;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g02diz');
  src:  url('../fonts/icomoon.eot?g02diz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g02diz') format('truetype'),
    url('../fonts/icomoon.woff?g02diz') format('woff'),
    url('../fonts/icomoon.svg?g02diz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows:before {
  content: "\e900";
  color: white;
  margin-left: 15px;  
}



.container{
  width: 80%;
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
}

.conten_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-between;
  /* max-width: 40%; */
  /* max-width: 75%; */

}

.conten_header .menu{
  margin-left: 75px;
}

.conten_header .logo{
  width: 100px;
  height: 70px;
}

.conten_header .menu{
  display: flex;
}

 .menu ul {
  list-style: none;
  display: flex;
}

.menu .nav_a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

.conten_header ul li .nav_a:hover{
  color: red;
}

.content_link {
  display: flex;
  align-items: center;
}

.content_link .a_content_link{
  text-decoration: none;
  color: white;
  height: 52px;
  width: 120px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.link_left .a_marker{
  text-decoration: none;
    color: red;
}

.link_rigth .a_marker{
  text-decoration: none;
    color: red;
}

.banner{
  width: 100%;
  height: 500px;
 position: relative;
  background-image: url("../assets/estadio.jpg");
  /* background: rgba(0, 0, 0, .9) */
}

.banner .banner_container{
  padding: 45px;
  display: flex;
}

.person_1{
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  border: 6px solid white;
}

.twou_text{
  display: flex;
}

.two_h3{
  margin-left: 15px;
}

.text_content_one{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.img_text_content_one{
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

.content_one .content_one_two{
  position: absolute;
  top: 335px;
  left: 430px;
  background-color: blue;
  min-width: 252px;
  height: 80px;
  border-radius: 5px;
}

.person_2{
  max-width: 108%;
    height: 416px;
}

 .content_text{
  display: flex;
  max-width: 300px;
  width: 100%;
  padding: 25px;
  align-items: center;
}

.text{
  color: white;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.marker{
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.date{
  color: white;
  margin: 20px 0 20px 0;
  
}

.date small {
  font-size: 10px;
}

.subtitle{
  color: white;
  margin: 20px 0 20px 0;
  font-size: 27px;
}

.content_link .a_table{
  color: yellow;    
}

.flecha{
  max-width: 80px;
  height: 50px;
}

.table{
  width: 100%;
  height: 305px;
}

.marker_rigth{
  width: 45%;
}

.marker_left{
  width: 45%;
}

/* .marker_rigth{
  width: 45%;
} */

.marker_content{
  display: flex;
  justify-content: space-between
}

.content_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.link_left{
  display: flex;
}

.link_rigth{
  display: flex;
}

.contact_left{
  width: 45%;
}

 .contact_raigth{
  width: 45%;
  position: relative;
}

.content_left_img{
  /* max-width: 400px; */
  height: 320px;
  border-radius: 7px;
}

.content_rigth_img{
  max-width: 250px;
  height: auto;
  border-radius: 7px;
  margin: 10px;
  z-index: 10;
}

/* .description_main{
  pos
} */

.form{
  margin-top: 40px;
}

.input{
  padding: 11px 0px 7px 8px;
  border-radius: 5px;
  margin: 0 0 17px 0;
  border-style: hidden;
  height: 20px;
  width: 100%;
  background-color: #01153a;
  border: 1px solid white;
}

.button_form{
  text-decoration: none;
  color: white;
  height: 52px;
  width: 120px;
  margin-top: 20px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.button_form .button_a{
  text-decoration: none;
  color: white;
  height: 52px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.text_input{
  color: white;
  margin-top: 20px;
}

.gallery_rigth{
  display: flex;
}

.gallery_images{
  justify-content: space-between;
  display: flex;
}

.img_contact{
  position: relative;
  height: 210px;
  width: 100%;
  object-fit: cover;
  
}

.description_main .img_raight{
  height: 50px;
  max-width: 40px;
  border: 2px solid white;
  margin: 4px;
  object-fit: cover;
}

.main_description{
  position: absolute;
 top: 0px;
 z-index: 10;
 display: flex
}

.subtitle_h4{
  margin: 10px 0;
  font-size: 18px;
  color: white;
}


.description_top{
  display: block;
  position: absolute;
  top: 100px;
  left: 5px;
  margin-top: 22px;
  width: 98%;
}

.contect_redes_img{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img_redes_contact{
  width: 18px;
  margin-left: 5px;
}

.red_fa{
  height: 35px;
  background-color: white;
  display: flex;
  min-width: 110px;
  align-items: center;
}

.link_page{
  margin-left: 5px;
}

.main_top{
  display: flex;
  padding: 15px 5px;
}

.main_botton{
  align-items: center;
  padding: 15px 4px;
  border-top: 1px solid;
  display: flex;
}

.description_text_botton{
  margin-left: 15px;
}

.description_botton{
  background-color: white;
  margin-top: 15px;
  height: auto  ;
}

.text_botton{
  color:  black;
  line-height: 21px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

span{
  color: blue;
}

.img_botton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -35px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 1px solid white;
}

.footer_left p small{
  color: white;
}

.footer_left{
  margin-top: 40px;
}

.footer_raigth{
  display: flex;
  margin-top: 40px;
  
}
.img_footer {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: wheat;
  border-radius: 50%;

}

.sub_footer_redes {
  display: flex;
  margin-right: 50px;
}


.sub_footer_content p{
  color: white;
}
@media screen and (max-width: 1024px){
  .person_2{
    display: none;
  }
  .banner_container{
    justify-content: center;
  }

  .gallery_left .content_left_img{
    width: 100%;
    object-fit: cover;
  }

  .gallery_images{
    display: block;
    text-align: center;
  }
  .gallery_rigth{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  .description_top{
    width: 100%;
  }
}

@media screen and (max-width: 767px){
   .banner .banner_container{
    /* display: block; */
  }
  .marker{
    display: block;
  }
  .marker_left{
    width: 100%;
  }
  .marker_rigth{
    width:100%;
  }
  .marker_content{
    display: block;
  }
  .contact_raigth{
    margin-top: 50px;
    width: 100%;
  }
  .contact_left{
    width: 100%;
  }
  .content_one_two{
    display: none;
  }
  .content_rigth_img{
    max-width: 190px;
  }
  .content_text{
    display: none;
  }
  .content_one_two{
    display: none;
  }
  .footer{
    display: block;
  }
 .footer_left{
   text-align: center;
 }
 .footer_raigth{
   justify-content: center;
 }
 .menu ul{
   display: block;
   width: 76%;
 }
 .header{
   display: block;
 }
 .conten_header{
   display: block;
 }
 .container{
   text-align: center;
 }
 .content_link{
   justify-content: center;
 }
}

@media screen and (max-width: 467px){
  .content_rigth_img{
    max-width: 140px;
  }

}

@media screen and (max-width: 320px){

}