*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #01153a;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g02diz');
  src:  url('../fonts/icomoon.eot?g02diz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g02diz') format('truetype'),
    url('../fonts/icomoon.woff?g02diz') format('woff'),
    url('../fonts/icomoon.svg?g02diz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows:before {
  content: "\e900";
  color: white;
  margin-left: 15px;  
}



.container{
  width: 80%;
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
}

.conten_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-between;
  /* max-width: 40%; */
  /* max-width: 75%; */

}

.conten_header .menu{
  margin-left: 75px;
}

.conten_header .logo{
  width: 100px;
  height: 70px;
}

.conten_header .menu{
  display: flex;
}

 .menu ul {
  list-style: none;
  display: flex;
}

.menu .nav_a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

.conten_header ul li .nav_a:hover{
  color: red;
}

.content_link {
  display: flex;
  align-items: center;
}

.content_link .a_content_link{
  text-decoration: none;
  color: white;
  height: 52px;
  width: 120px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.link_left .a_marker{
  text-decoration: none;
    color: red;
}

.link_rigth .a_marker{
  text-decoration: none;
    color: red;
}

.banner{
  width: 100%;
  height: 500px;
 position: relative;
  background-image: url("../assets/estadio.jpg");
  /* background: rgba(0, 0, 0, .9) */
}

.banner .banner_container{
  padding: 45px;
  display: flex;
}

.person_1{
  max-width: 300px;
  height: -webkit-fill-available;
  border: 6px solid white
}

.person_2{
  max-width: 100%;
    height: 416px;
}

 .content_text{
  display: flex;
  max-width: 300px;
  padding: 25px;
  align-items: center;
}

.text{
  color: white;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.marker{
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.date{
  color: white;
  margin: 20px 0 20px 0;
  
}

.date small {
  font-size: 10px;
}

.subtitle{
  color: white;
  margin: 20px 0 20px 0;
  font-size: 27px;
}

.content_link .a_table{
  color: yellow;    
}

.flecha{
  max-width: 80px;
  height: 50px;
}

.table{
  max-width: 400px;
  height: auto;
}

.marker_left{
  max-width: 500px;
}

.marker_content{
  display: flex;
  justify-content: space-between
}

.content_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.link_left{
  display: flex;
}

.link_rigth{
  display: flex;
}

.contact_left{
  max-width: 45%;
}

 .contact_raigth{
  max-width: 45%;
}

.content_left_img{
  max-width: 400px;
  height: 320px;
  border-radius: 7px;
}

.content_rigth_img{
  max-width: 250px;
  height: auto;
  border-radius: 7px;
  margin: 10px;
}

.form{
  margin-top: 40px;
}

.input{
  padding: 11px 0px 7px 8px;
  border-radius: 5px;
  margin: 0 0 17px 0;
  border-style: hidden;
  height: 20px;
  width: 100%;
  background-color: #01153a;
  border: 1px solid white;
}

.button_form{
  text-decoration: none;
  color: white;
  height: 52px;
  width: 120px;
  margin-top: 20px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.button_form .button_a{
  text-decoration: none;
  color: white;
}

.text_input{
  color: white;
  margin-top: 20px;
}

.gallery_rigth{
  display: flex;
}

.gallery_images{
  justify-content: space-between;
  display: flex;
}

.img_contact{
  position: relative;
  height: 225px;
  width: 100%;
  object-fit: cover;
  z-index: 5;
}

.hola{
  position: absolute;
 top: -80px;
 z-index: 10;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 1px solid white;
}

.footer_left p small{
  color: white;
}

.footer_left{
  margin-top: 40px;
}

.footer_raigth{
  display: flex;
  margin-top: 40px;
  
}
.img_footer {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: wheat;
  border-radius: 50%;

}

.sub_footer_redes {
  display: flex;
  margin-right: 50px;
}


.sub_footer_content p{
  color: white;
}
@media screen and (max-width: 1024px){
  
}

@media screen and (max-width: 950px){
  
}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 467px){

}

@media screen and (max-width: 320px){

}